[submodule "docker"]
	path = docker
	url = https://github.com/dogusyuksel/embedded_docker
[submodule "thirdparty/STM32F103X_HAL"]
	path = thirdparty/STM32F103X_HAL
	url = https://github.com/STMicroelectronics/stm32f1xx_hal_driver.git
[submodule "thirdparty/cmsis-header-stm32"]
	path = thirdparty/cmsis-header-stm32
	url = https://github.com/modm-io/cmsis-header-stm32.git
[submodule "thirdparty/CMSIS_5"]
	path = thirdparty/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
